*{
  font-family: sans-serif;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section{
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

form{
  width: 90%;
  margin-top: 50px;
}

.card{
  width: 100%;
}
